<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meta.xuyj.pictureselect" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>
        <activity android:name=".PictureSelectActvity">
            <intent-filter>
                <action android:name="com.xuyj.picture-select"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
    </application>
</manifest>